[submodule "dune-common"]
	path = dune-common
	url = http://gitlab.dune-project.org/rene.milk/dune-common.git
        ignore = dirty
[submodule "dune-grid"]
	path = dune-grid
	url = https://gitlab.dune-project.org/felix.schindler/dune-grid.git
        ignore = dirty
[submodule "dune-geometry"]
	path = dune-geometry
	url = http://gitlab.dune-project.org/core/dune-geometry.git
        ignore = dirty
[submodule "dune-fem"]
	path = dune-fem
	url = https://gitlab.dune-project.org/dune-fem/dune-fem.git
        ignore = dirty
[submodule "local/bin"]
	path = local/bin
	url = https://github.com/dune-community/local-bin.git
        ignore = untracked
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = http://gitlab.dune-project.org/core/dune-localfunctions.git
        ignore = dirty
[submodule "dune-gdt"]
	path = dune-gdt
	url = https://github.com/dune-community/dune-gdt.git
[submodule "dune-istl"]
	path = dune-istl
	url = http://gitlab.dune-project.org/core/dune-istl.git
[submodule "dune-pdelab"]
	path = dune-pdelab
	url = https://gitlab.dune-project.org/pdelab/dune-pdelab.git
[submodule "dune-typetree"]
	path = dune-typetree
	url = http://gitlab.dune-project.org/staging/dune-typetree.git
[submodule "configs"]
	path = config.opts
	url = https://github.com/dune-community/config.opts.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/wwu-numerik/scripts.git
[submodule "dune-python"]
	path = dune-python
	url = https://gitlab.dune-project.org/quality/dune-python.git
[submodule "dune-testtools"]
	path = dune-testtools
	url = https://gitlab.dune-project.org/quality/dune-testtools.git
[submodule "dune-xt-common"]
	path = dune-xt-common
	url = https://github.com/dune-community/dune-xt-common.git
[submodule "dune-xt-la"]
	path = dune-xt-la
	url = https://github.com/dune-community/dune-xt-la.git
[submodule "dune-xt-grid"]
	path = dune-xt-grid
	url = https://github.com/dune-community/dune-xt-grid.git
[submodule "dune-xt-functions"]
	path = dune-xt-functions
	url = https://github.com/dune-community/dune-xt-functions.git
[submodule "dune-pybindxi"]
	path = dune-pybindxi
	url = https://github.com/dune-community/dune-pybindxi.git
[submodule "pymor"]
	path = pymor
	url = https://github.com/pymor/pymor.git
[submodule "dune-alugrid"]
	path = dune-alugrid
	url = https://gitlab.dune-project.org/extensions/dune-alugrid.git
[submodule "dune-uggrid"]
	path = dune-uggrid
	url = https://gitlab.dune-project.org/staging/dune-uggrid.git
[submodule "dune-functions"]
	path = dune-functions
	url = https://gitlab.dune-project.org/staging/dune-functions.git
[submodule "dune-grid-glue"]
	path = dune-grid-glue
	url = https://gitlab.dune-project.org/extensions/dune-grid-glue.git
