# This file is part of the dune-gdt-pymor-interaction project:
#   https://github.com/dune-community/dune-gdt-pymor-interaction
# Copyright holders: Felix Schindler
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME

[boost]
src=http://wwwmath.uni-muenster.de/num/ohlberger/research/software/boost-1.55.tar.bz2
build='./bootstrap.sh --with-libraries=filesystem,system,thread,timer,chrono,date_time --prefix=$INSTALL_PREFIX --with-toolset=gcc'
      './b2 install'

[metis]
src=http://ftp.mcs.anl.gov/pub/petsc/externalpackages/metis-5.1.0-p1.tar.gz
build='make config shared=1 prefix=$INSTALL_PREFIX'
      'make'
      'make install'

#[parmetis]
#src=http://glaros.dtc.umn.edu/gkhome/fetch/sw/parmetis/parmetis-4.0.3.tar.gz
#build='make config cc=/usr/bin/mpicc mpicc=/usr/bin/mpicc mpicxx=/usr/bin/mpicxx shared=1 prefix=$INSTALL_PREFIX'
#      'make'
#      'make install'

# For DUNE to find alugrid, it also needs to find metis (and alugrid should as well).
# The command below presumes a system installation of metis. If you want alugrid to
# (also) find you system installation of parmetis, add
#     --with-parmetis=/usr
# to the configure call below. If you do not have metis (or parmetis) installed, you
# can locally build metis by uncommenting the block above and changing the command
# below into
#     --with-metis=$INSTALL_PREFIX
# or (--with-parmetis=$INSTALL_PREFIX) for the locally built parmetis.
[alugrid]
src=http://wwwmath.uni-muenster.de/num/ohlberger/research/software/ALUGrid-1.52.tar.gz
build='./configure --prefix=$INSTALL_PREFIX --with-metis=/$INSTALL_PREFIX CC=$CC CXX=$CXX F77=$F77 CXXFLAGS="-DNDEBUG -std=c++11 -O2 -w -fPIC"'
      'make'
      'make install'

[eigen]
src=http://bitbucket.org/eigen/eigen/get/3.2.4.tar.gz
build='test -d build || mkdir build'
      'rm -rf build/*'
      'cd build && cmake .. -Wno-dev -DCMAKE_INSTALL_PREFIX=$INSTALL_PREFIX -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=RELEASE'
      'cd build && make'
      'cd build && make install'

[disable_petsc_search_in_dune_fem]
only_build=True
build='sed 's/if(NOT EXISTS "${PETSC_CMAKE_MODULES}")/if(FALSE)/' -i $BASEDIR/dune-fem/cmake/modules/DuneFemMacros.cmake'

[silence_dune_alugrid]
only_build=True
build='sed -i 's;std::cout <<;// std::cout <<;g' $BASEDIR/dune-alugrid/dune/alugrid/common/defaultindexsets.hh'
      'sed -i 's/const bool verbose = verb && this->comm().rank() == 0;/const bool verbose = false;/g' $BASEDIR/dune-alugrid/dune/alugrid/3d/alugrid.hh'
      'sed -i 's/return ch( msg );/return \"\";/' $BASEDIR/dune-alugrid/dune/alugrid/impl/serial/walk.h'

[disable_examples_in_dune_functions]
only_build=True
build='sed -i 's/add_subdirectory("examples")/#add_subdirectory("examples")/g' $BASEDIR/dune-functions/CMakeLists.txt'

[silence_dune_grid_glue]
only_build=True
build='[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|#warning add list of neighbors ...|//#warning add list of neighbors ...|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|#warning only handle the newest intersections / merger info|//#warning only handle the newest intersections / merger info|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "GridGlue: Constructor succeeded!" << std::endl;|//std::cout << "GridGlue: Constructor succeeded!" << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << ">>>> rank " << myrank << " coords: "|//std::cout << ">>>> rank " << myrank << " coords: "|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< patch0coords.size() << " and " << patch1coords.size() << std::endl;|//<< patch0coords.size() << " and " << patch1coords.size() << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << ">>>> rank " << myrank << " entities: "|//std::cout << ">>>> rank " << myrank << " entities: "|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< patch0entities.size() << " and " << patch1entities.size() << std::endl;|//<< patch0entities.size() << " and " << patch1entities.size() << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << ">>>> rank " << myrank << " types: "|//std::cout << ">>>> rank " << myrank << " types: "|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< patch0types.size() << " and " << patch1types.size() << std::endl;|//<< patch0types.size() << " and " << patch1types.size() << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << myrank|//std::cout << myrank|g' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< " GridGlue::mergePatches : rank " << patch0rank << " / " << patch1rank << std::endl;|//<< " GridGlue::mergePatches : rank " << patch0rank << " / " << patch1rank << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< " GridGlue::mergePatches : "|//<< " GridGlue::mergePatches : "|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< "The number of remote intersections is " << intersections_.size()-1 << std::endl;|//<< "The number of remote intersections is " << intersections_.size()-1 << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/adapter/gridglue.cc'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout<<"ContactMerge building grid!\\n";|//std::cout<<"ContactMerge building grid!\\n";|' $BASEDIR/dune-grid-glue/dune/grid-glue/merging/contactmerge.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "StandardMerge building merged grid..." << std::endl;|//std::cout << "StandardMerge building merged grid..." << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/merging/standardmerge.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "setup took " << watch.elapsed() << " seconds." << std::endl;|//std::cout << "setup took " << watch.elapsed() << " seconds." << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/merging/standardmerge.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "intersection construction took " << watch.elapsed() << " seconds." << std::endl;|//std::cout << "intersection construction took " << watch.elapsed() << " seconds." << std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/merging/standardmerge.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "This is Codim1Extractor on a <" << dim|//std::cout << "This is Codim1Extractor on a <" << dim|' $BASEDIR/dune-grid-glue/dune/grid-glue/extractors/codim1extractor.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< "," << dimworld << "> grid!"|//<< "," << dimworld << "> grid!"|' $BASEDIR/dune-grid-glue/dune/grid-glue/extractors/codim1extractor.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|<< std::endl;|//<< std::endl;|' $BASEDIR/dune-grid-glue/dune/grid-glue/extractors/codim1extractor.hh'
      '[ -e $BASEDIR/dune-grid-glue ] && sed -i 's|std::cout << "added " << simplex_index << " subfaces\\n"|//std::cout << "added " << simplex_index << " subfaces\\n"|' $BASEDIR/dune-grid-glue/dune/grid-glue/extractors/codim1extractor.hh'

[virtualenv]
only_build=True
build='cd $BASEDIR && virtualenv --python=python3 $INSTALL_PREFIX'
      '. $INSTALL_PREFIX/bin/activate && pip install --upgrade pip'
      '. $INSTALL_PREFIX/bin/activate && pip install --upgrade mpi4py || echo "\n\n    Installation of mpi4py failed, this usually happens due to missing MPI.\n    This is fine if you do not plan to use MPI.\n\n"'
      '. $INSTALL_PREFIX/bin/activate && pip install --upgrade notebook'
      '. $INSTALL_PREFIX/bin/activate && pip install pyparsing==2.0.6 # required for dune-python'

